<div class="jumbotron">
        <h1 class="display-4">Hey there!</h1>
        <p class="lead">This is simple Todo-List Application. </p>
        <hr class="my-4">
        <p>Purpose of creating this was to get the introductory grasp and a hands-on experience of working with Angular.</p>
        <p>
          <a href="https://www.youtube.com/watch?v=0LhBvp8qpro&t=4363s" target="_blank" rel="noopener noreferrer">Click here</a> to go to the Youtube video(by CodeWithHarry) which I followed to create this application.
        </p>
</div>